*{
    margin: 0;
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
}
nav{
    width: 100%;
    height: 64px;
    top: 0;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
}
/* nav css*/
/*image css*/
.left_image{
    margin-left: 5%;
    margin-top: 10%;
    background: #F3BE00;
    border: 75px;
    width: 400px;
    height: fit-content;
    float: left ;
   border-radius: 50px ;
}
.home_image{
    width:400px;        
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
@media (max-width: 1000px){
    .left_image,.home_image{
        width: 200px;
        float: unset;
        margin: unset;
        margin: auto;
    }

}
/*image css*/
/*image description*/
.home_text{
    width: 50%;
    float: right;   
    margin-top: 10%; 
    margin-right: 5%;
    font-family: 'Inter';
    font-style: normal;
   
}
.home_heading{
    color: #F3BE00;
    font-size: 5vw;
    font-family: 'Inter';
    font-style: normal;
}
.sub_1,.sub_2{
    font-size: 2vw;
    padding-top: 3px;
}
.home_description{    
    width: 80%;
    font-size: 2vw; 

}
.home_text div{
    margin-top: 10px;
}
@media (max-width: 1000px){
    .home_text{
       width: 70%;
        float: unset;
        margin: unset;
        margin: auto;   
           
    }
    .home_description{
        font-size: 5vw;
    }
    .sub_1,.sub_2{
        font-size: 5vw;
    }
    .home_heading{
        font-size: 8vw;
    }
}

/*image description*/
