*{
    margin: 0;
}
body{
    background: #F3EEEE;;
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
}
nav{
    width: 100%;
    height: 64px;
    top: 0;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
    background: white;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
}
/* nav css*/
/*contacts text*/
.contact_heading{
    font-size: 4vw;
    font-family: 'Inter';
    font-style: normal;

}
.conatact_header{
    width: 100%;
}
.contact_text{
    float: left;
    width: 600px;    
    font-family: 'Inter';
    font-style: normal;
    margin-left: 8% ;

}
.contact_main{
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    height: 50%;
    font-size: 1.5vw;

}
.contact_row{
    margin-top: 5px;
}
.contact_icons{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}
.icon{
    width: 50px;
    height: 50px;
}

/*contact text*/
/*contacts form*/
.contacts_form{
    width: 40%;
    float: right;
margin-right: 5%;
}
.contact_f{
    width: 100%;    
}
.contact_f div{
    width: 100%;
}
.input_t{
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.message_area{
    margin-top: 0;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 2vw;
}
.message_top{
    color: red;
}
.submitt_button{
    background: #F3BE00;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 2vw;
    margin-top: 5%;
    font-weight: 300;   
}
.contacts_form p{
    font-size: 1.5vw;
}

/*contact form*/
.main{
    margin-top: 5%;
}
