*{
    margin: 0;
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
}
nav{
    float: right;
    width: 80%;
    height: 64px;
    top: 0;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
}
/* nav css*/
/*image css*/

/*image description*/

table td{
    padding: 0 5%;

}
table{
    width: 100%;
}

/*image description*/
.second_nav{
    width: 20%;
    float: left;
    height: 100%;
    background:#F3BE00 ;
    font-family: 'Inter';
}
.top_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 2vw;
}
.second_nav_pic{
    margin-top: 10px;
    font-size: 1vw;
    width: fit-content;
    margin: 10px auto;
}
.admin_add_post{
    background: #F3EEEE;
    position: absolute;
    width: 25%;
    top: 40%;
    left: 50%;
    border-radius: 10px;
    padding: 50px;   

    display: none
}
.press_post{
    display: unset;
}
.admin_add_post div{
    width: 100%;
}
.admin_add_post input[type="text"]{
width: 100%;
border-radius: 25px;
height: 40px;
border: none;
outline: none;

}
.blog_submit{
    background: #F3BE00;
    color: white;
    border: none;    
    width: 40%;
    border-radius: 5px;

    
}
.cancel_btn{
    color: #F3BE00;
    background: white;
    border: none;
    width: 40%;
    border-radius: 5px;
}
.admin_table{
    float: right;
    width: 60%;
}
.post_blog{
    color: white;
    background: #F3BE00;
    border: none;
    width: 150px;
    height: 30px;
border-radius: 5px;
float: right;
}
.blog_heading{
    color: #F3BE00;
    font-size: 3vw;
    text-align: center;
}
.submit_cancel{
    margin: 10px auto;
}
.main{
    font-family: 'Inter';
}
.post_title{
    color: #F3BE00;
    text-align: center;
}
.delete_cancel{
    display: flex;
    flex-direction: row;
}
@media (max-width:  1000px){
    nav{
        width: 80%;
    }
}