*{
    margin: 0;
   
}
body{
    width: 100%;
    
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
    list-style: none;
}
nav{
    float: right;
    width: 100%;
    height: 64px;
    top: 0;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
.b_image{
    width: 20%;
    height: 20%;
}

/* nav css*/
/*image css*/

/*image description*/


/*image description*/
.second_nav{
    width: 20%;
    float: left;
    height: 100%;
    background:#F3BE00 ;
    font-family: 'Inter';
    position: fixed;
}
.top_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1vw;
}
.second_nav_pic{
    margin-top: 10px;
    font-size: 1vw;
    width: fit-content;
    margin: 10px auto;    
}
.admin_add_post{
    background: #F3EEEE;
    float: right;
    display: block;
    width: 25%;
    margin: 5%;
    right: 0;
    border-radius: 10px;
    padding: 50px;        
}
.fullpage_bpost{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.press_post{
    display: unset;
}
.admin_add_post div{
    width: 100%;
}
.admin_add_post input[type="text"]{
width: 100%;
border-radius: 25px;
height: 40px;
border: none;
outline: none;
}
.blog_submit{
    background: #F3BE00;
    color: white;
    border: none;    
    width: 40%;
    border-radius: 5px;    
}
.cancel_btn{
    color: #F3BE00;
    background: white;
    border: none;
    width: 40%;
    border-radius: 5px;
}
.table_t{
    margin-left: 25% ;
 
}
.post_blog{
    color: white;
    background: #F3BE00;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    float: right;   
    z-index: 100;
}
.blog_heading{
    color: #F3BE00;
    font-size: 3vw;
    text-align: center;
}
.submit_cancel{
    margin: 10px auto;
}
.main{
    font-family: 'Inter';
}
.post_title{
    color: #F3BE00;
    text-align: center;
}

@media (max-width:  1000px){
    nav{
        width: 80%;
    }
}
.blogdc{
margin: 5%;
height: fit-content;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
border-radius: 20px ;
padding: 20px;
width: 80%;


}
.delc{       
    float: right;
    display: flex;
    flex-direction: row;
    width: 40%; 
    z-index: 100;    
    justify-content: space-between;
    
  
}
.delc label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
/*edit form */
.edit_blog{
    position: fixed;    
    top: 50;
    width: 100%;
    height: 100%;    
    display: none;
}
.edit_form{
    width: 25%;
    margin: 10% auto;
    background: #F3EEEE;
    padding: 5%;
    border-radius: 20px;
}
.edit_form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
#edit_caption{
    height: 60px;
    overflow: scroll;
    margin-bottom: 5%;
}
.press_edit{
    display: unset;
}
#blog_show{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog_d{
    width: 100%;
    height: 100px;
        top: 0;
    
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
  
    #blog_show{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .b_image{
        width: 100%;
        height: 20%;
    }
    .blog_d p{
        height: unset;
        height: 75%;
        overflow-y:scroll;
    }
    .blogdc{
        
        height: 410px;
        width: 50%;
       
    }
    .delc{
        float: unset;
    }
    
}

 .second_nav ul{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    font-size: 2vw;  
}
.second_nav li{
    width: 60%;    
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.second_nav a{
    color: white;
}
.second_nav a:hover{
    color: orangered;
}

.users{
    width: 80%;
    float: right;
    margin: auto;
}
.users h1{
    font-size: 3vw;
    color: red;
}
/*edit form */
