*{
    margin: 0;
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
}
nav{
    width: 100%;
    height: 64px;
    top: 0;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%;      
        
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
}
/* nav css*/
/*image css*/
.blog{
    margin-left: 5%;
    margin-top: 3%;
    background: #F3BE00;
    border: 75px;
    width: 300px;
    height: fit-content;
    float: left ;
   border-radius: 50px ;
}
.imagediv img{
    max-width:100%;       
   
}
/*image css*/
/*image description*/
.home_heading{
    color: #F3BE00;
    font-size: 3vw;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}
.sub1,.sub_2{
    font-size: 2vw;
    padding-top: 3px;
}
.home_description{    
    width: 80%;
    font-size: 2vw; 
}
.home_text div{
    margin-top: 10px;
}

/*image description*/
/*blog*/
.blog{
    font-family: 'Inter';
    font-style: normal;
    height: 400px;
    box-shadow: 20px 50px 30px rgba(0, 0, 0, 0.25);
}
.like_icon,.comment_icon{
width: 20px;
height: 20px;
}
.like_comment{
text-align: center;   
    margin: 5 20px;
    margin-top: 10%;
}
.like_comment div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.blog_title{
    width: 100%;
    margin: 5px auto;
    text-align: center;
}
.blog_description{
    text-align: center;
    width: 96%;
    font-size: 2vw;
    font-style: bold;
}
.blogs{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*blog*/
.next{
    color: black;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}


.names_nav{
    float: left;
    margin-left: 2%;

}
.image_description{
    width: 80%;
    display: flex;    
    flex-direction: row;
    justify-content: space-around;   
    justify-content: center;
    padding: 2px 5%;
    margin: auto;

}
.likes_comments{
    width: 90%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
    }
    .commentd{
        width: 90%;
    }
    
    .comment_input{
        width: 90%;
        height: 30px;        
        border-radius: 10px;
        outline: none;
    }
    .comments_display{
        width: 80%;
        margin: 2% auto;
        display: flex;
        flex-direction: column;

    }
    .likes , .comment_profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5vw;           

    }
    .send_comment{
        background-color: transparent;
        border: none;
        font-size: 1.5vw;
    }
    .send_comment:hover{
        background-color: transparent;
        border: none;
        color: #F3BE00;        
    }
     .comment_profile{
        padding: 5px;
        margin-bottom: 2px;
        font-size: 2vw;
     }
     .description{
        width: 60%;
        margin-left: 5%;
     }
     #title{
        margin:  5% 0;
     }
     .likes i:hover{
        color:#F3BE00;
     }
     .date{
        margin: 5% 0;
     }
     .comment_date{
        color: #00000098;
        margin-top: 5px;
     }
     .comments_header{
        margin-bottom: 2%;
     }
     .comments_header{
        text-align: center;
     }
     @media (max-width: 1000px){
        .image_description{           
            flex-direction: column;
            flex-wrap: wrap;
            
            justify-content: unset;
            
        }
        .description{     
            width: unset;
            
            width: 100%; 
          margin-left: unset;
              }
              .send_comment, .likes{
                font-size: 3vw;
              }
              .comment_input{
                width: 80%;
              }    
    }
    .hide{
        display: none;
    }
    .widen{
        width: 100%;
    }