*{
    margin: 0;
}
/* nav css*/
.name1{
     color: #F3BE00;   
}
.name2{
        float: right;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    align-items: center;
    margin: 10px;
    font-weight: lighter;
    
}
nav{
    width: 100%;
    height: 64px;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
    position: fixed;
    top:0;
    background-color: white;
}
.nav_link{
    color: black;
}
.opened{
    color: unset;
    color: #F3BE00;
}
a{
    text-decoration: none;
}
.links{
    float: right;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.names_nav{
    float: left;
}
@media (max-width: 1000px){
    .links{
        float: unset;
        height: 45px;
        width : 100%;              
    }
    .names_nav{
        display: none;
    }
    a{
        font-size: 3vw;
    }
    nav{
        width: 100%;
    }
    #personal_blogs{

        margin-top: 10%;
    }
    .blogdc{
        width: 80%;
    }
}
/* nav css*/
/*image css*/
.blogdc{
    margin-top: 5%;
    background-color: #F3EEEE;
    border-radius: 20px ;
    padding: 20px;
    width: 40%;
    height: fit-content;
    }
    .delc{       
        float: right;
        display: flex;
        flex-direction: row;
        width: 40%; 
        z-index: 100;    
        justify-content: space-between;
    }
    .delc label{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    /*edit form */    
    .edit_form{
        width: 40%;
        margin: 10% auto;
        background: #F3EEEE;
        padding: 5%;
        border-radius: 20px;
    }
    .edit_form input{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    #edit_caption{
        height: 60px;
        overflow: scroll;
        margin-bottom: 5%;
    }
    .press_edit{
        display: unset;
    }
    #personal_blogs{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .post_blog{
        color: white;
        background: #F3BE00;
        border: none;
        width: 150px;
        height: 30px;
    border-radius: 5px;
    float: right;
    position: fixed;
    right: 0;
    top: 84px;
    }
    .top_profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-size: 2vw;
    }
    .second_nav_pic{
        margin-top: 10px;
        font-size: 1vw;
        width: fit-content;
        margin: 10px auto;
    }
    .admin_add_post{
        background: #F3EEEE;
        position: fixed;
        width: 25%;
        top: 40%;
        left: 40%;
        border-radius: 10px;
        padding: 50px;        
    }
    .fullpage_bpost{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        z-index: 100;
        display: none;
    
    
    }
    .press_post{
        display: unset;
    }
    .admin_add_post div{
        width: 100%;
    }
    .admin_add_post input[type="text"]{
    width: 100%;
    border-radius: 25px;
    height: 40px;
    border: none;
    outline: none;
    
    }
    .blog_submit{
        background: #F3BE00;
        color: white;
        border: none;    
        width: 40%;
        border-radius: 5px;
    
        
    }
    .cancel_btn{
        color: #F3BE00;
        background: white;
        border: none;
        width: 40%;
        border-radius: 5px;
    }
    .admin_table{
        float: right;
        width: 60%;
    }
    .post_blog{
        color: white;
        background: #F3BE00;
        border: none;
        width: 150px;
        height: 30px;
    border-radius: 5px;
    float: right;
    }
    .blog_heading{
        color: #F3BE00;
        font-size: 3vw;
        text-align: center;
    }
    .submit_cancel{
        margin: 10px auto;
    }
    .main{
        font-family: 'Inter';
    }
    .post_title{
        color: #F3BE00;
        text-align: center;
    }
    
    @media (max-width:  1000px){
        .blog_image{
            width: 100%;
        }
    }
    .blogdc{
    margin-top: 5%;
    background-color: #F3EEEE;
    border-radius: 20px ;
    padding: 20px;
    }
    .delc{       
        float: right;
        display: flex;
        flex-direction: row;
        width: 40%; 
        z-index: 100;    
        justify-content: space-between;
    }
    .delc label{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    /*edit form */
    .edit_blog{
        position: fixed;
        background: rgba(0, 0, 0, 0.25);
        top: 50;
        width: 100%;
        height: 100%;    
        display: none;
    }
    .edit_form{
        width: 30%;
        margin: 10% auto;
        background: #F3EEEE;
        padding: 5%;
        border-radius: 20px;
    }
    .edit_form input{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    #edit_caption{
        height: 60px;
        overflow: scroll;
        margin-bottom: 5%;
    }
    .press_edit{
        display: unset;
    }